<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ePlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <ePlus.Properties.Settings>
      <setting name="NoticeBackColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="NoticeForeColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="EditorForeColor" serializeAs="String">
        <value>GreenYellow</value>
      </setting>
      <setting name="EditorBackColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="JumpToAfterCreate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NoticeFont" serializeAs="String">
        <value>宋体, 12pt</value>
      </setting>
      <setting name="EditorFont" serializeAs="String">
        <value>宋体, 12pt</value>
      </setting>
      <setting name="DefaultPort" serializeAs="String">
        <value>3500</value>
      </setting>
      <setting name="MaxWindow" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LastLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UserInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="CtiType" serializeAs="String">
        <value>EGPlug</value>
      </setting>
      <setting name="CtiUdpPort" serializeAs="String">
        <value>5161</value>
      </setting>
    </ePlus.Properties.Settings>
  </userSettings>
</configuration>