
.pager a{display:inline-block; background:url(pager-bg.png) left top no-repeat; height:17px; padding-left:5px; line-height:17px; text-decoration:none; margin:3px 3px 3px 0; vertical-align:middle;}
.pager a span{ background:url(pager-bg.png) right top no-repeat; padding-right:5px; display:inline-block; cursor:pointer; height:17px; line-height:17px;}
.pager a.current{background:url(pager-bg.png) left -17px no-repeat;}
.pager a.current span{background:url(pager-bg.png) right -17px no-repeat; color:#fff;}
.pager a:link,.pager a:visited{color:#999;}
.pager a:hover{background-position:left -17px; color:#fff;}
.pager a.current:hover{color:#fff;}
.pager a:hover span{background-position:right -17px;}
.pager a.current:link,.pager a.current:visited{color:#fff;}

/* angle */
.lt {background-position: left -6px; margin:-1px 0 0 -1px; clear: both }
.rt {background-position: right 0; margin:0 -1px 0 0;}
.lb {background-position: left -9px; margin: 0 0 -1px -1px; clear: both }
.rb {background-position: right -3px; margin:0 -1px 0 0;}
.lt, .rt, .lb, .rb
{
    background-image: url(../images/angle-light.gif);
    position: relative;
    height: 3px;
    width: auto;
    display: block;
    background-repeat: no-repeat;
    font-size: 1px;
}

hr{height: 1px; background:#7f9db9 }

body, td
{
    letter-spacing: 0;
    line-height: 150%;
    font: menu;
}

img
{
    border: 0;
}

.inputbox
{
    border-bottom: 1px solid;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

.bodyText {
    
    font-size: 12px;
    color: black;
    letter-spacing:0;
    line-height:150%;
    padding-left:30;
    padding-right: 20;
    padding-top: 10;
}
     
.bottomRow { 
    background-color: #3266CC; 
    padding-left:30; 
         
} 

/*
    Deselected tab.  The left most cell that contains the tab left corner .gif
*/
.deSTabLeft	{
	background-color:#DEEAF3;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1px solid #6699CC;
	border-collapse: separate;
	
	background-image: url(../images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	cursor:hand;
}

/*
    Deselected tab.  The center cell that contains the tab text
*/
.deSTabCenter	{
	background-color:#DEEAF3;
	border-left: 0 solid #6699CC;
	border-top: 1px solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1px solid #6699CC;
	
	font-size:14px;
	color: #000000;
	font-weight: normal;
	padding-bottom:2;
	cursor:hand;
}

/*
    Deselected tab.  The right most cell that contains the tab right corner .gif
*/
.deSTabRight	{
	background-color:#DEEAF3;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1px solid #6699CC;
	

	background-image: url(../images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top right;
	cursor:hand;
}

.gridRowStyle {
    background-color:#FFFFFF;
     
    font-size:14px;
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    
}

.gridRowStyle8 {
    background-color:#FFFFFF;
    font-size:12px;
     
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    
}


.gridPagerStyle {
    color:#000000; 
    background-color:#EEEEEE; 
    font-size:14px;
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
}

.gridAlternatingRowStyle {
     
    font-size:14px;
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    background-color: #CADBED; 
    border-left: 1px solid #CCDDEF;
    border-right: 1px solid #CCDDEF;
}

.gridAlternatingRowStyle8 {
     
    font-size:12px;
    color: black; 
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    background-color: #CADBED; 
    border-left: 1px solid #CCDDEF;
    border-right: 1px solid #CCDDEF;
}

.gridSelectedRowStyle {
    background-color:#3266cc;
     
    font-size:14px;
    color: white;
    letter-spacing:0; 
    padding-left:30; 
    padding-right: 20; 
    padding-top: 3;
    padding-bottom: 3;
    border-left: 1px solid #CCDDEF;
    border-right: 1px solid #CCDDEF;
}

/*
    Repeating gif in the header region
*/
.homePageHeader{
	background-image: url(../images/headerGRADIENT_Tall.gif);
	background-repeat: repeat-x;
	background-position: left top;
}


/*
    Hover style.  The left most cell that contains the tab left corner .gif
*/
.hoverTabLeft	{
	background-color:#FFEBA6;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1px solid #6699CC;
	border-collapse: separate;
	
	background-image: url(../images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: 0 0;
	cursor:hand;
}

/*
    Hover style.  The center cell that contains the tab text
*/
.hoverTabCenter	{
	background-color:#FFEBA6;
	border-left: 0 solid #6699CC;
	border-top: 1px solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1px solid #6699CC;
	
	font-size:14px;
	color: #000000;
	font-weight: normal;
	padding-bottom:2;
	cursor:hand;
}

/*
    Hover style.  The right most cell that contains the tab right corner .gif
*/
.hoverTabRight	{
	background-color:#FFEBA6;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 1px solid #6699CC;
	

	background-image: url(../images/DeSelectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top right;
	cursor:hand;
}


/*
     Selected tab.  The left most cell that contains the tab left corner .gif
*/
.selTabLeft	{
	background-color:#ffffff;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 0 solid #ffffff;
	
	background-image: url(../images/selectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top left;
	
	cursor:default;
}

/*
    Selected tab.  The center cell that contains the tab text
*/
.selTabCenter	{
	background-color:#ffffff;
	border-left: 0 solid #6699CC;
	border-top: 1px solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 0 solid #ffffff;
	
	font-size:14px;
	color: #000000;
	font-weight: bold;
	padding-bottom:2;
	cursor:default;
}

/*
    Selected tab.  The right most cell that contains the tab right corner .gif
*/
.selTabRight	{
	background-color:#ffffff;
	border-left: 0 solid #6699CC;
	border-top: 0 solid #6699CC;
	border-right: 0 solid #6699CC;
	border-bottom: 0 solid #ffffff;
	
	background-image: url(../images/selectedTab_1x1.gif);
	background-repeat: repeat-y;
	background-position: top right;
	cursor:default;
}

/*
    Table cells in the tab table that are used as spacers between the tab buttons
*/
.spacerTab	{
	background-color:transparent;
	border-bottom: 1px solid #6699CC;
}

/*
*  For
*/

a.helpHyperLink:hover {
	color: #ffffff;
	
	font-size:14px;
}

a.helpHyperLink:link {
	color: #ffffff;
	
	font-size:14px;
}
a.helpHyperLink:visited {
	color: #ffffff;
	
	font-size:14px;
}

/*************************************
 *
 * Obsolete, need to be replaced in 
 * pages
 *
 *************************************/
 
a.gridSelectedRowStyle:visited {
    color:white;
}

a.gridSelectedRowStyle:link {
    color:white;
}