<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Options.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Options.Properties.Settings>
            <setting name="Options_wsIBE_HiWSService" serializeAs="String">
                <value>http://www.eg66.com:8080/testWS/HiWSService</value>
            </setting>
        </Options.Properties.Settings>
    </applicationSettings>
</configuration>