<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <!--是否调试模式 "true"/"false"-->
    <add key="Debug" value="true"/>
    <!--是否启用消息队列 "true"/"false"-->
    <add key="EnableMessageQueue" value="false"/>
    <!--投保消息队列名称-->
    <add key="Queue.Issuing" value="Queue.renwoxIssuing"/>
    <!--短消息队列名称-->
    <add key="Queue.SMS" value="Queue.renwoxSMS"/>
    <!--退保队列名称-->
    <add key="Queue.Withdraw" value="Queue.renwoxWithdraw"/>
    <!--是否可以重复下单 "true"/"false"-->
    <add key="IsDuplicable" value="false"/>
    <!--是否需要客户的手机号码 "true"/"false"-->
    <add key="IsMobilePhoneNumberRequired" value="false"/>
    <!--系统暂停使用的原因,使用[br]来换行-->
    <add key="SystemFailInfo" value=""/>
    <!--时间来源：Local-本机，NTSC-国家授时中心-->
    <add key="RequestTimeFrom" value="Local"/>
    <!--最晚投保时间限制：起飞前0分钟-->
    <add key="IssuingDeadline" value="13"/>
    <!--永诚接口地址，端口号-->
    <add key="YongChengIssuing" value="www.95552.cc,8000"/>
    <!--中国人寿广东分公司接口地址-->
    <add key="ChinaLife_GD_Issuing" value="http://121.8.126.173:7788/WebRoot/ag_post_application.jsp"/>
    <!--立刻保url,用户名，保当日的产品代码，保次日的产品代码，退保邮件-->
    <add key="Like18_Issuing" value="http://www.like18.com/webservice/,bjjingji,9971,9981,pingback@gmail.com"/>
    <add key="Jiandanbao_Issuing" value="http://api.jiandanbao.com/iOrderWebService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="InsuranceAviation" connectionString="Server=115.238.251.146,1444;Database=iarenwox;Uid=sa;Pwd=sasql2005" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <unity>
    <containers>
      <container>
        <types>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="ChinaLife_GD.Issuing, IAClass" name="chinalife"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="YongCheng.Issuing, IAClass" name="alltrust"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Like18.Issuing, IAClass" name="like18"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Jiandanbao.Issuing_All, IAClass" name="jiandanbao_All"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Jiandanbao.Issuing_Free, IAClass" name="jiandanbao_Free"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="ChinaLife_BJ.Issuing, IAClass" name="chinalife_bj"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Huayubaoxian.Issuing, IAClass" name="Huayubaoxian"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="XiAnQiYi.Issuing, IAClass" name="XiAnQiYi"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="JinHang.Issuing, IAClass" name="JinHang"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Pingan.Issuing, IAClass" name="PingAn"/>
          <type type="IAClass.SMS.ISMS, IAClass" mapTo="ShangTong.SMS, IAClass" name="ShangTong"/>
        </types>
      </container>
    </containers>
  </unity>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--恢复到2.0的请求验证行为，否页面代码中validaterequest="false"不起作用-->
    <httpRuntime requestValidationMode="2.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <authentication mode="Forms">
      <forms name="InsuranceLoginCookie" loginUrl="/" timeout="30" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="1440"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
