<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <!--是否调试模式 "true"/"false"-->
    <add key="Debug" value="true"/>
    <!--是否启用消息队列 "true"/"false"-->
    <add key="EnableMessageQueue" value="false"/>
    <!--投保消息队列名称-->
    <add key="Queue.Issuing" value="Queue.renwoxIssuing"/>
    <!--短消息队列名称-->
    <add key="Queue.SMS" value="Queue.renwoxSMS"/>
    <!--退保队列名称-->
    <add key="Queue.Payment" value="Queue.renwoxPayment"/>
    <!--是否需要客户的手机号码 "true"/"false"-->
    <add key="IsMobilePhoneNumberRequired" value="false"/>
    <!--系统暂停使用的原因,使用[br]来换行-->
    <add key="SystemFailInfo" value=""/>
    <!--时间来源：Local-本机，NTSC-国家授时中心-->
    <add key="RequestTimeFrom" value="Local"/>
    <!--最晚投保时间限制：起飞前0分钟-->
    <add key="IssuingDeadline" value="13"/>
    <!--永诚接口地址，端口号-->
    <add key="YongChengIssuing" value="www.95552.cc,8000"/>
    <!--中国人寿广东分公司接口地址-->
    <add key="ChinaLife_GD_Issuing" value="http://121.8.126.173:7788/WebRoot/ag_post_application.jsp"/>
    <!--立刻保url,用户名，保当日的产品代码，保次日的产品代码，退保邮件-->
    <add key="Like18_Issuing" value="http://www.like18.com/webservice/,bjjingji,9971,9981,pingback@gmail.com"/>
    <add key="PaymentGatewayForAdmin" value="Alipay"/>
    <add key="PaymentGatewayForAgent" value="IPS"/>
    <add key="PaymentDomainName" value="localhost"/>
    <add key="IPS" value="000015,GDgLwwdK270Qj1w4xho8lyTpRQZV9Jm5x4NwWOTThUa4fMhEBK9jOXFrKRT6xhlJuU2FEa89ov0ryyjfJuuPkcGzO5CeVx5ZIrkkt1aBlZV36ySvHOMcNv8rncRiy3DQ,"/>
  </appSettings>
  <connectionStrings>
    <add name="InsuranceAviation" connectionString="Server=115.238.251.146,1444;Database=yingpeng;Uid=sa;Pwd=sasql2005" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <unity>
    <containers>
      <container>
        <types>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="ChinaLife_GD.Issuing, IAClass" name="chinalife"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="YongCheng.Issuing, IAClass" name="alltrust"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Like18.Issuing, IAClass" name="like18"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Jiandanbao.Issuing_All, IAClass" name="jiandanbao_All"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Jiandanbao.Issuing_Free, IAClass" name="jiandanbao_Free"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="ChinaLife_BJ.Issuing, IAClass" name="chinalife_bj"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Huayubaoxian.Issuing, IAClass" name="Huayubaoxian"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="XiAnQiYi.Issuing, IAClass" name="XiAnQiYi"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="JinHang.Issuing, IAClass" name="JinHang"/>
          <type type="IAClass.Issuing.IIssuing, IAClass" mapTo="Pingan.Issuing, IAClass" name="PingAn"/>
          <type type="IAClass.SMS.ISMS, IAClass" mapTo="ShangTong.SMS, IAClass" name="ShangTong"/>
          <type type="IAClass.Payment.IBank, IAClass" mapTo="Alipay.Payment, IAClass" name="Alipay"/>
          <type type="IAClass.Payment.IBank, IAClass" mapTo="IPS.Payment, IAClass" name="IPS"/>
        </types>
      </container>
    </containers>
  </unity>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--绝对路径/相对路径均可,可以包括文件名的前缀部分，也可仅是目录名称-->
      <param name="File" value="Log/" />
      <!--置为true,当前最新日志文件名永远为file节中的名字-->
      <!--<staticLogFileName value="true" />-->
      <!--使用Unicode编码-->
      <!--<Encoding value="UTF-8" />-->
      <!--防止多线程时不能写Log,官方说线程非安全-->
      <!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />-->
      <param name="AppendToFile" value="true" />
      <!--最多产生的日志文件数（-1表示不限）-->
      <param name="MaxSizeRollBackups" value="-1" />
      <!--当RollingStyle为Date的时候不起作用,可用的单位:KB|MB|GB-->
      <param name="MaximumFileSize " value="512KB" />
      <param name="StaticLogFileName" value="false" />
      <!--扩展名部分需加单引号-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%date%newline%message%n " />
      </layout>
    </appender>
    <!--log4net.LogManager.GetLogger("logerror")用这个来选择这种类型-->
    <!--<logger name="logerror">
            <level value="ERROR" />
            <appender-ref ref="RollingLogFileAppender" />
        </logger>-->
    <!--根logger，所有其它logger都默认继承它，如果配置文件里没有其他显式定义的logger，则框架使用本节点定义的属性-->
    <root>
      <level value="Debug" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--解决部分客户无法登陆网站的问题-->
    <anonymousIdentification enabled="true" cookieless="AutoDetect" cookieName=".ASPXANONYMOUS" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration = "true" cookieProtection="All" />
    <!--恢复到2.0的请求验证行为，否页面代码中validaterequest="false"不起作用-->
    <httpRuntime requestValidationMode="2.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="zh-CN" uiCulture="zh-CN"/>
    <authentication mode="Forms">
      <forms name="InsuranceLoginCookie" cookieless="UseCookies" loginUrl="/" timeout="30" protection="All"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="1440"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
